@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@900&display=swap');

.front-container {
  background-color: #18bc9c;
  display: flex;
  align-items: center;
  margin-left: 15px;
  flex-direction: column;
}

.title-one {
  color: aliceblue;
  font-size: 80px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.divider {
  border-bottom: 5px solid aliceblue;
  margin: 2px 0;
  width: 150px;
  display: flex;
}

p {
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 40px 0 90px 0 ;
}

.img-profile {
  margin: 100px 0 20px 0;
}

.star {
  height: 30px;
  width: 60px;
  position: relative;
  top: 10px;
}