.second-container {
    background-color: #ffff;
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-direction: column;
    /* flex-wrap: nowrap; */
}

.second-title {
    color: black;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 70px 0 0 0 ;
}

.divider-black {
    border-bottom: 5px solid #000;
    margin: 2px 0;
    width: 150px;
    display: flex;
}

.star-black {
    height: 30px;
    width: 60px;
    position: relative;
    top: 10px;
}

.second {
    height: 100%;
    width: 450px;    
}

.cabin, .cake, .circus {
    padding: 40px 20px 20px 0;
} 

.game, .safe, .submarine{
    padding: 20px 20px 80px 0;
}